*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
* {
  font-family: 'Roboto' , sans-serif;
}
a {
  text-decoration: none;
  color: black;
	cursor: pointer;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}
.fixed-container {
	width: 96%;
	margin: 0 auto;
}
// default styles reset
