* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif;
  color: white;
  text-align: center;
}
body,html {
  height: 100%;
  background-color: purple;
}
h1 {
  font-size: 42px;
  margin-bottom: 40px;
}
.wrapper {
  margin: 30px auto;
}
p {
  font-size: 20px;
}
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;

}
.link {
  margin: 25px auto;
  display: block;
  width: 85%;
  padding: 10px;
  border: 2px solid red;
  color: orange;
}

.h12 {
  font-size: 30px;
}
.hearts {
  color: red;
}
